/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --color-main: rgb(0, 89, 255);
  --color-main-light: rgb(217, 235, 255);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-gray-light: rgb(224, 224, 224);
  --color-gray-medium: rgb(192,192,192);
  --color-gray-dark: 	rgb(128, 128, 128);
  --color-shadow: rgba(20, 20, 40, 0.3);

  --color-priority-0: rgb(255, 0, 106);
  --color-priority-1: rgb(255, 115, 0);
  --color-priority-2: var(--color-main);

  --shadow-card: var(--color-shadow) 0px 4px 12px;

  --padding-tiny: 4px;
  --padding-small: 8px;
  --padding-base: 16px;
  --padding-large: 24px;

  --border-radius: 16px;
  --border-radius-small: 4px;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: sans-serif;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  border-radius: 0;
  appearance: none;
}

button:hover {
  cursor: grab;
}

input {
  border: var(--color-gray-medium) solid 1px;
  border-radius: var(--border-radius-small);
  padding: var(--padding-tiny);
}

input:focus {
  outline: var(--color-main) solid 2px;
  border-color: white;
}

#content {
  width: 30vw;
  margin: 0 auto 0 15vw;
  padding: var(--padding-base);
  grid-column: 1 / span 1;
  justify-self: stretch;
}

#details {
  height: 100vh;
  width: 30vw;
  position: fixed;
  top: 0px;
  left: 50vw;
  padding: var(--padding-base);
}

#sidebar {
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  gap: var(--padding-tiny);
  background-color: var(--color-gray-medium);
  position: fixed;
  top: 0px;
  left: 0px;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: var(--padding-tiny);
}

.lists-header {
  display: flex;
  justify-content: space-between;
}

form.add-task {
  display: flex;
  align-items: center;
  gap: var(--padding-small);
}

form.add-task button {
  width: 32px;
  height: 32px;
  background-color: var(--color-main-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

form.add-task button:hover {
  background-color: var(--color-main);
}

form.add-task button:hover img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(256deg) brightness(105%) contrast(105%);
}

form.add-task input {
  width: 240px;
  height: 40px;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-base);
  margin-bottom: var(--padding-base);
}

.task-card {
  display: flex;
  padding: var(--padding-small);
  gap: var(--padding-small);
}

.priority-0 {
  filter: invert(18%) sepia(64%) saturate(6267%) hue-rotate(326deg) brightness(95%) contrast(114%);
}

.priority-1 {
  filter: invert(53%) sepia(48%) saturate(4281%) hue-rotate(360deg) brightness(101%) contrast(108%);
}

.priority-2 {
  filter: invert(19%) sepia(96%) saturate(3833%) hue-rotate(218deg) brightness(102%) contrast(107%);
}

.task-card:hover {
  cursor: grab;
}

.task-icon {
  align-self: flex-start;
  padding-top: 2px;
}

.task-header {
  display: flex;
  flex-direction: column;
  gap: var(--padding-tiny);
}

.due-date {
  color: var(--color-gray-dark);
  display: flex;
  align-items: center;
  gap: var(--padding-tiny);
}

.due-date img {
  width: 16px;
  filter: invert(54%) sepia(0%) saturate(0%) hue-rotate(75deg) brightness(92%) contrast(89%);
}

.task-container-ghost {
  background-color: var(--color-gray-dark);
}

#date-picker {
  visibility: hidden;
  position: absolute;
  width: 24px;
  height: 24px;
}