/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --color-main: rgb(0, 89, 255);
  --color-main-light: rgb(217, 235, 255);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-gray-light: rgb(224, 224, 224);
  --color-gray-medium: rgb(192, 192, 192);
  --color-gray-dark: 	rgb(128, 128, 128);
  --color-shadow: rgba(20, 20, 40, 0.1);

  --color-priority-0: rgb(255, 0, 106);
  --color-priority-1: rgb(255, 115, 0);
  --color-priority-2: var(--color-main);

  --filter-black-to-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(256deg) brightness(105%) contrast(105%);
  --filter-black-to-gray-medium: invert(78%) sepia(0%) saturate(0%) hue-rotate(240deg) brightness(101%) contrast(89%);
  --filter-black-to-gray-dark: invert(54%) sepia(0%) saturate(0%) hue-rotate(75deg) brightness(92%) contrast(89%);
  --filter-black-to-priority-0: invert(18%) sepia(64%) saturate(6267%) hue-rotate(326deg) brightness(95%) contrast(114%);
  --filter-black-to-priority-1: invert(53%) sepia(48%) saturate(4281%) hue-rotate(360deg) brightness(101%) contrast(108%);
  --filter-black-to-priority-2: invert(19%) sepia(96%) saturate(3833%) hue-rotate(218deg) brightness(102%) contrast(107%);

  --shadow-card: var(--color-shadow) 0px 4px 8px;
  --shadow-sidebar: var(--color-shadow) 4px 0px 8px;

  --padding-tiny: 4px;
  --padding-small: 8px;
  --padding-base: 16px;
  --padding-large: 24px;

  --border-radius: 8px;
  --border-radius-small: 4px;
  --border-radius-button: 16px;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: sans-serif;
}

h4 {
  font-weight: 500;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  border-radius: 0;
  appearance: none;
}

button:hover {
  cursor: pointer;
}

button.colored {
  background-color: var(--color-main-light);
}

button.colored:hover {
  background-color: var(--color-main);
  color: var(--color-white);
}

button.colored:hover img {
  filter: var(--filter-black-to-white);
}

button.wide {
  display: flex;
  align-items: center;
  gap: var(--padding-small);
  padding: var(--padding-tiny) var(--padding-base);
  border-radius: var(--border-radius-button);
}

button.round {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

button.small {
  width: 24px;
  height: 24px;
}

input {
  border: var(--color-gray-medium) solid 1px;
  border-radius: var(--border-radius-small);
  padding: var(--padding-tiny);
}

input:focus {
  outline: var(--color-main) solid 2px;
  border-color: white;
}

#content {
  width: 30vw;
  min-height: calc(100vh - 2 * var(--padding-large));
  margin: var(--padding-large) auto var(--padding-large) 15vw;
  padding: var(--padding-large);
  grid-column: 1 / span 1;
  justify-self: stretch;
}

#details {
  height: calc(100vh - 2 * var(--padding-large));
  width: 30vw;
  position: fixed;
  top: 0px;
  left: 50vw;
  margin: var(--padding-large) 0;
}

#sidebar {
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  gap: var(--padding-base);
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: var(--shadow-sidebar);
  border-right: 1px var(--color-gray-light) solid;;
}

.details-container {
  padding: var(--padding-large);
  border: 1px var(--color-gray-light) solid;
  box-shadow: var(--shadow-card);
  border-radius: var(--border-radius);
  height: 100%;
}

.details-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  margin-bottom: var(--padding-large);
}

.lists {
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
}

.lists-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form.add-task {
  display: flex;
  align-items: center;
  gap: var(--padding-small);
  width: 50%;
}

form.add-task input {
  flex-grow: 1;
  height: 40px;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-base);
  margin-bottom: var(--padding-base);
}

.task-card {
  display: flex;
  padding: var(--padding-small);
  gap: var(--padding-small);
  border: 1px solid transparent;
}

.task-button-container {
  display: flex;
}

.priority-0 {
  filter: var(--filter-black-to-priority-0);
}

.priority-1 {
  filter: var(--filter-black-to-priority-1);
}

.priority-2 {
  filter: var(--filter-black-to-priority-2);
}

.task-card:hover {
  cursor: grab;
}

.task-done-button {
  align-self: flex-start;
  padding-top: 2px;
}

.task-icon-hover {
  position: absolute;
  align-self: flex-start;
  padding-top: 2px;
  opacity: 0.4;
  z-index: -1;
  visibility: hidden;
}

.task-done-button:hover + .task-icon-hover {
  visibility: visible;
}

.task-finished * {
  text-decoration-line: line-through;
  color: var(--color-gray-medium);
}

.task-finished .task-done-button:hover {
  opacity: 0;
}

.task-finished .task-header .due-date img {
  filter: var(--filter-black-to-gray-medium);
}

.task-finished .task-icon {
  filter: var(--filter-black-to-gray-medium);
}

.task-selected {
  background-color: red;
}

.task-header {
  display: flex;
  flex-direction: column;
  gap: var(--padding-tiny);
}

.task-highlighted {
  border: 1px var(--color-gray-light) solid;
  box-shadow: var(--shadow-card);
  border-radius: var(--border-radius);
}

.due-date {
  color: var(--color-gray-dark);
  display: flex;
  align-items: center;
  gap: var(--padding-tiny);
}

.due-date img {
  width: 16px;
  filter: var(--filter-black-to-gray-dark);
}

.task-container-ghost {
  background-color: var(--color-main-light);
  border-radius: var(--border-radius);
}

#date-picker {
  visibility: hidden;
  position: absolute;
  width: 24px;
  height: 24px;
}